.settings-container {
    float: left;
    /* height: 100%; */
    width: 100%;
    display: flex;
}

.body {
    display: flex;
    float: left;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    width: 100%;
    background-color: darkslategrey;
}